<app-navbar></app-navbar>
<div class="overflow-hidden position-relative min-vh-100 py-3 bg" [scrollTop]="scr()">
    <router-outlet (activate)="onActivate()"></router-outlet>
    <!-- <a routerLink="cart" class="cartPosition">
        <div class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge"> {{numberOfOrders}} </span>
        </div>
    </a> -->
</div>
<div class="toTop" (click)="toTop()">
    <i class="fa-solid fa-arrow-up fw-bold fs-5"></i> 
</div>
<app-footer></app-footer>